<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<!--
		jdbc:mysql://localhost/android?useServerPrepStmts=false
		root
		root 
		 -->
		<property name="connection.url">
			jdbc:mysql://instance14008.db.xeround.com:9431/android?useServerPrepStmts=false
		</property>
		<property name="connection.username">andrevaladas</property>
		<property name="connection.password">hide0721</property>
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">5</property>
		<!-- SQL dialect -->
		<property name="dialect">
			org.hibernate.dialect.MySQL5Dialect
		</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<mapping class="com.chronosystems.entity.Device"/>
		<mapping class="com.chronosystems.entity.Location"/>
		
	</session-factory>
</hibernate-configuration>